* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #fefbe9;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 800px;
    background-color: transparent;
}

h1 {
    text-align: center;
    margin: 80px 0;
    font-size: 6vw;
    color: #f0a04b;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    height: 270px;
    width: 30vw;
    resize: none;
    outline: none;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    border: 2px solid #f0a04b81;
    border-radius: 5px;
}

button {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 11vw;
    font-size: 18px;
    background: #183a1d;
    border-radius: 8px;
    color: #fefbe9;
    font-family: 'Poppins', sans-serif;
    border: none;
}

button:hover {
    background: #26582d;
    transition-duration: 400ms;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#input-text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

#output-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 730px) {
    h1 {
        font-size: 70px;
    }

    .app {
        flex-direction: column;
    }

    textarea {
        width: 90%;
    }

    button {
        margin: 50px 0;
        width: 170px;
        height: 50px;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 40px;
    }

    .app {
        flex-direction: column;
    }

    textarea {
        width: 90%;
    }

    button {
        margin: 50px 0;
        width: 140px;
        height: 40px;
        font-size: 17px;
    }
}